<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dqw648.moto">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/motorola_icon5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstResponderRegisteration" />
        <activity android:name=".ViewList" />
        <activity android:name=".ListAdapter" />
        <activity android:name=".PTT_Call" />
        <activity android:name=".UploadImage" />
        <activity android:name=".CameraView"></activity>

        <service android:name="com.example.dqw648.moto.httpServiceRequest"
            android:exported="true"
            android:enabled="true"
            >
        </service>
    </application>

</manifest>